{% extends 'base.html' %}
{% load recommended %}
{% block script %}
<script>

$(document).ready(function(){

    loadTweetContainer("#tweet-container");

});

</script>
{% endblock script %}

{% block title %} View Tweets | {{ block.super }} {% endblock title %}

{% block content %}

    
    <div class="row">
        {% if not request.GET.q %}
            <div class="col-sm-3 col-xs-12  red-color">
                <h1>{{ request.user }}</h1><hr>
                <h3 class='violet-color lead'>Suggested Users</h3>
                {% recommended request.user %}<hr>
            </div>
        {% endif %}
        <div class="col-sm-9 col-xs-12">
            {% if not request.GET.q %}
                <div>
                    {% include 'tweets/tweetForm.html' with form=create_form action_url=create_url btnTitle='Post Tweet' formClass='tweet-form'%}
                </div>
            {% endif %}<hr>

            <div id='tweet-container' data-url='/api/tweet/'>

            </div>
          
            <a href='#' id='loadmore'>Load More Tweets</a>
            <br>
            <hr>
            
    </div>
</div>

{% endblock content %}

{% for object in object_list  %}
             {% comment %}    <h4>{{ object.tweetText }}</h4>
                <strong>Posted: </strong>{{ object.timestamp|timesince }} ago | 
                <a href="{{ object.get_absolute_url }}" >View Tweet</a><hr>
         {% endcomment %}

    {% comment %}  <div class="media">
        <div class="media-left">
            <a href="#">
                {% if object.image %}
                    <img class="media-object" src="..." alt="...">
                {% endif %}
            </a>
        </div>
        <div class="media-body">
            {{ object.tweetText }} <br>
            via {{ object.author }} | {{ object.timestamp|timesince }} ago | <a href="{{ object.get_absolute_url }}">View Tweet</a>
        </div>
    </div><hr> {% endcomment %}
        {% empty %}
            {% if request.GET.q %}
                <h1>No Tweets found!</h1>
            {% else %}
                <h1>No Tweets posted yet!</h1>
            {% endif %}
        {% endfor %}