{% extends 'base.html' %}

{% block title %} Tweet Details | {{ block.super }} {% endblock title %}

{% block content %}
<div class="row">
    <div class="col-sm-3 col-xs-12">
        <h2 class="violet-color"><strong> {{ object.username }} </strong></h2>

        {% comment %} <p>{{ object.followed_by.all.count }} Followers | {{ object.profile.get_following.count }} Following </p>  {% endcomment %}

        <p><a class="btn btn-link" href='{{ object.profile.get_follow_url }}'>
            {% if following %} Unfollow {% else %} Follow {% endif %}
        </a></p>
        <hr>

        <h3>Followers <small>{{ object.followed_by.all.count }}</small></h3>
        {% for profile in object.followed_by.all %}
            <a href='/{{ profile.user.username }}'> {{ profile.user.username }} </a> <br>
        {% empty %}
            <h5>Not followed by any one currently.</h5>
        {% endfor %}
        <hr>
        <h3>Following <small>{{ object.profile.get_following.count }}</small></h3>
        {% for user in object.profile.get_following %}
            <a href='/{{ user.username }}'> {{ user.username }} </a> <br>
        {% empty %}
            <h5>Not following any users currently.</h5>
        {% endfor %}
        
    </div>
    <div class="col-sm-9 col-xs-12">
        <h1>Tweets</h1>
        {% for tweet in object.tweet_set.all %}
            {{ tweet }}<hr>
        {% endfor %}
        
    </div>
</div>

{% endblock content %}
