{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> {% block title %} Tweety {% endblock title %} </title>

    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"> -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
      .red-color{
        color:red;
      }
      .grey-color{
        color:#ccc;
      }
      .violet-color{
        color:#39298c;
      }

      .navbar-inverse {
        background-color: #286090;
        border-color: #1f4f77;
      }

      .navbar-inverse .navbar-brand {
        color: #f5f5f5;
      }

      .navbar-inverse .navbar-nav>li>a {
        color: #f5f5f5;
      }
    </style>

  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
        {% block content %}
            Some Content
        {% endblock content %}
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
    
    {% block script %}{% endblock script %}

    <script>
      $(document).ready(function(){
        var typingTimer;
        var doneInterval = 800;
        var searchInput = $("#navbar-search-form input[type=text]");
        var searchQuery;

        searchInput.keyup(function(event){
          searchQuery = $(this).val();

          clearTimeout(typingTimer);
          typingTimer = setTimeout(doneSearchTyping, doneInterval);

        })

        searchInput.keydown(function(event){
          console.log(event.key);
          clearTimeout(typingTimer);
        })

        function doneSearchTyping(){
          if(searchQuery){
            var url = '/tweet/search/?q=' + searchQuery
            document.location.href = url;
          }
        }

        
      })

      function getParameterByName(name, url){
          if(!url){
              url = window.location.href;
          }

          name = name.replace(/[\[\]]/g, "\\$&");
          var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
              results = regex.exec(url);
          if (!results) return null;
          if (!results[2]) return '';
          return decodeURIComponent(results[2].replace(/\+/g, " "));
      }

      function loadTweetContainer(containerId){
          var query = getParameterByName('q');
          var tweetList = [];
          var nextTweetUrl;
          var tweetContainer;

          if(containerId){
            tweetContainer = $(containerId);
          }else{
            tweetContainer = $("#tweet-container");
          }
          
          var initialUrl = tweetContainer.attr("data-url") || '{% url "tweet-api:list" %}';
          console.log(initialUrl);

          $(document.body).on("click", ".tweet-like", function(event){
            event.preventDefault();

            var this_ = $(this);
            var tweetId = this_.attr("data-id");
            var likedUrl = '/api/tweet/' + tweetId + "/like/"
            

            $.ajax({
              method: "GET",
              url: likedUrl,
              success: function(data){
                if(data.liked){
                  this_.text("Liked");
                }else{
                  this_.text("Like");
                }
              },
              error: function(data){
                console.log(data);
                console.log("error");
              }
            })

          })

          $(document.body).on("click", ".retweet", function(event){
              event.preventDefault();
              var url = "/api" + $(this).attr("href");

              $.ajax({
                  method: "GET",
                  url: url,
                  success: function(data){
                      //console.log(data);
                      if (data.parentTweet ){
                          // if username is in the path, ignore the following.
                          if(initialUrl == '/api/tweet'){
                              attachTweet(data, true, true);
                              updateHashLinks();
                          }
                      }else{
                          attachTweet(data);
                          updateHashLinks();
                      }
                  },
                  error: function(data){
                      //console.log(data);
                      console.log("error");
                  }
              })
          })

          function updateHashLinks(){
              $(".media-body").each(function(data){
                  var hashtagRegex  = /(^|\s)#([\w\d-]+)/g ;
                  var usernameRegex = /(^|\s)@([\w\d-]+)/g ;

                  //console.log(currentHtml);
                  var newText = $(this).html().replace(hashtagRegex, "$1<a href='/tags/$2/'>#$2</a>");
                  $(this).html(newText);
                  //console.log(newText);

                  var upUsername = $(this).html().replace(usernameRegex, "$1<a href='/$2/'>@$2</a>");
                  $(this).html(upUsername);
              })
          }


          function attachTweet(tweetValue, prepend, retweet){

              var dateDisplay = tweetValue.date_display;
              var timeSince = tweetValue.timesince;
              var tweetAuthor = tweetValue.author.username;
              var profileUrl = tweetValue.author.profileUrl;
              var tweetText = tweetValue.tweetText;
              var tweetUrl = tweetValue.tweetUrl;
              var tweetId = tweetValue.id;
              
              //var isRetweet = tweetValue.isRetweet;

              var tweetFormattedHTML;
              if(retweet && tweetValue.parentTweet){
                  var mainTweet = tweetValue.parentTweet;

                  tweetFormattedHTML = "<div class='media'><div class='media-body'><h5 class='violet-color'>Retweet via "+ tweetAuthor +" on "+ dateDisplay +"</h5>"+ mainTweet.tweetText +"<br>via <a href='" + mainTweet.author.profileUrl + "'>" + mainTweet.author.username + "</a> | " + mainTweet.date_display + " | " + "<a href='" + mainTweet.tweetUrl + "'>View</a>"+ " | <a class='retweet'  href='/tweet/" + mainTweet.id + "/retweet/'>Retweet</a> | <a href='#' class='tweet-like' data-id="+ mainTweet.id +">Like</a></div></div><hr>";
              }else{
                  tweetFormattedHTML = "<div class='media'><div class='media-body'>"+tweetText+"<br>via <a href='" + profileUrl + "'>" + tweetAuthor + "</a> | " + dateDisplay + " | " + "<a href='" + tweetUrl + "'>View</a>" + " | <a class='retweet' href='/tweet/" + tweetId + "/retweet/'>  Retweet</a> | <a href='#' class='tweet-like' data-id="+ tweetId +">Like</a></div></div><hr>";
              }

              
              if(prepend == true){
                  tweetContainer.prepend(tweetFormattedHTML);
              }else{
                  tweetContainer.append(tweetFormattedHTML);
              }
          }

          function parseTweets(){
              if ( tweetList == 0){
                  tweetContainer.text("No tweets found!");
              }else{
                  $.each(tweetList, function(key, value){
                      var tweetkey = key;
                      if (value.parentTweet ){
                          attachTweet(value, false, true);
                      }else{
                          attachTweet(value);
                      }
                    
                  })
              }
          }

          function fetchTweets(url){

              var fetchUrl;
              if(!url){
                  fetchUrl = initialUrl;
              }else{
                  fetchUrl = url;
              }

              $.ajax({
                  //url: '{% url "tweet-api:list" %}',
                  url: fetchUrl,
                  data: {
                      'q':query
                  },
                  method: 'GET',
                  success: function(data){
                      // console.log(data)
                      //fetchTweets();
                      tweetList = data.results;

                      if(data.next){
                          nextTweetUrl = data.next;
                      }else{
                          $("#loadmore").css("display", "none");
                          //$("#loadmoretext").text("No more Tweets to display.");
                      }

                      parseTweets();
                      updateHashLinks();
                  },
                  error: function(data){
                      console.log('error');
                      //console.log(data)
                  }
              })
          }

          fetchTweets();

          $("#loadmore").click(function(event){
              event.preventDefault();
              if(nextTweetUrl){
                  fetchTweets(nextTweetUrl);
              }
          })

          var charStart = 140;
          var charsCurrent = 0;

          $("#tweet-form").append("<span id='tweetCharsLeft'> " +  charStart + " characters left. </span>");

          $("#tweet-form textarea").keyup(function(event){
              //console.log(event.key, event.timeStamp);
              var tweetValue = $(this).val();
              charsCurrent  = charStart - tweetValue.length;
              var spanChars = $("#tweetCharsLeft");

              spanChars.text(charsCurrent + " characters left.");

              if(charsCurrent > 0){
                  spanChars.removeClass("grey-color");
                  spanChars.removeClass("red-color");
              }else if (charsCurrent == 0){
                  spanChars.removeClass("red-color");
                  spanChars.addClass('grey-color');
              }else if (charsCurrent < 0){
                  spanChars.removeClass("grey-color");
                  spanChars.addClass('red-color');
              }
          })


          $("#tweet-form").submit(function(event){
              event.preventDefault();

              var this_ = $(this);
              //console.log(event);
              var formData = this_.serialize();
              //console.log(this_.serialize());

              if (charsCurrent >= 0){
                  $.ajax({
                      //url: '{% url "tweet-api:list" %}',
                      url: '/api/tweet/create/',
                      data: formData,
                      method: 'POST',
                      success: function(data){
                          console.log(data);
                          this_.find("input[type=text], textarea").val("");
                          attachTweet(data, true);
                          updateHashLinks();
                          //fetchTweets();
                      },
                      error: function(data){
                          console.log('error');
                          console.log(data.status);
                      }
                  })
              }else{
                  console.log("Cannot send tweet to database. Too long.");
              }

              
              fetchTweets();
          })
      }

    </script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script> -->
  </body>
</html>