{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-10 mx-auto bg-light text-success">
                <br>
            <h3>Create a New Notice.</h3><hr>
            <form method="POST" enctype="multipart/form-data"> {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary"><strong>POST NOTICE</strong></button>
            </form>
        
            {% if form.cleaned_data %}
                <h1>Notice Posted Successfully!</h1>
            {% endif %}
        </div>
    </div>
{% endblock %}